.avatar-container {
    position: relative;
    width: fit-content;
}

.image-container {
    height: 200px;
    width: 200px;
    z-index: 1;
    border-radius: 50%;
    background-color: #fff;
    background-position: center;
    background-size: cover;
    box-shadow: 0 10px 20px 20px #6c93001a;
}
    .icon-wrapper {
        position: absolute;
        height: 40px;
        width: 40px;
        padding: .35rem;
        background-color:#2962FF;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 0;
        top: 75%;
        z-index: 2;
        cursor: pointer;
    }

.icon-wrapper:hover {
    transition: all .25s;
    background-color: darken(#2962FF, 15%);
}

.icon-wrapper.icon {
    color: white;
}

.icon-wrapper.label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-wrapper.input[type='file'] {
    display: none;
}
.image-container {
    height: 200 200px;
    width: 200 200px;
    z-index: 1;
    border-radius: 50%;
    background-color: #fff;
    background-position: center;
    background-size: cover;
    box-shadow: 0 10px 20px 20px #6c93001a;


}
.image-container.avatar-placeholder{
    background-image: url('~src/assets/lk.png');
}

.post-container{
    height: 500px;
    width: 500px;
    z-index: 1;
    background-color: #fff;
    background-position: center;
    background-size: cover;
    box-shadow: 0 10px 20px 20px #19026d1a;
}

.post {
    border: 1px solid #808080;
    border-radius: 20px;
    margin-bottom: 5px;
}

.photo {
    margin: 10px;
    text-align: center;
}

.comment {
  margin-left: 10px;
  display: flex;
}

.like {
  background: 0;
  border: 0px;
  margin-right: 10px;
  margin-left: auto;
}